<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-4">
    sa;ld kfj; laskjd f;lakjsd
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <h2>Building an online audience</h2>
    <h6>May 2nd 2016 in Web Design</h6>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt, nisi elementum fermentum rutrum, ligula massa faucibus enim, ut feugiat est purus vitae purus. Proin ullamcorper, orci et lacinia suscipit, massa mauris venenatis sapien, id imperdiet augue quam at urna. Praesent eu magna mollis, pharetra elit non, hendrerit nunc. Sed felis metus, sodales sed porta non, scelerisque sit amet orci. Nulla at erat risus. Etiam pellentesque nisl est, ac tempus urna luctus ac. Suspendisse vehicula euismod risus, id pretium purus porttitor et. Curabitur finibus erat mattis diam suscipit finibus. Pellentesque ultrices ornare purus. Morbi a mi faucibus, euismod turpis in, semper nisi. Maecenas ut dapibus purus. Aenean a arcu odio.
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt, nisi elementum fermentum rutrum, ligula massa faucibus enim, ut feugiat est purus vitae purus. Proin ullamcorper, orci et lacinia suscipit, massa mauris venenatis sapien, id imperdiet augue quam at urna. Praesent eu magna mollis, pharetra elit non, hendrerit nunc. Sed felis metus, sodales sed porta non, scelerisque sit amet orci. Nulla at erat risus. Etiam pellentesque nisl est, ac tempus urna luctus ac. Suspendisse vehicula euismod risus, id pretium purus porttitor et. Curabitur finibus erat mattis diam suscipit finibus. Pellentesque ultrices ornare purus. Morbi a mi faucibus, euismod turpis in, semper nisi. Maecenas ut dapibus purus. Aenean a arcu odio.
    </p>
    <hr>
    <h2>Building an online audience</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt, nisi elementum fermentum rutrum, ligula massa faucibus enim, ut feugiat est purus vitae purus. Proin ullamcorper, orci et lacinia suscipit, massa mauris venenatis sapien, id imperdiet augue quam at urna. Praesent eu magna mollis, pharetra elit non, hendrerit nunc. Sed felis metus, sodales sed porta non, scelerisque sit amet orci. Nulla at erat risus. Etiam pellentesque nisl est, ac tempus urna luctus ac. Suspendisse vehicula euismod risus, id pretium purus porttitor et. Curabitur finibus erat mattis diam suscipit finibus. Pellentesque ultrices ornare purus. Morbi a mi faucibus, euismod turpis in, semper nisi. Maecenas ut dapibus purus. Aenean a arcu odio.
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt, nisi elementum fermentum rutrum, ligula massa faucibus enim, ut feugiat est purus vitae purus. Proin ullamcorper, orci et lacinia suscipit, massa mauris venenatis sapien, id imperdiet augue quam at urna. Praesent eu magna mollis, pharetra elit non, hendrerit nunc. Sed felis metus, sodales sed porta non, scelerisque sit amet orci. Nulla at erat risus. Etiam pellentesque nisl est, ac tempus urna luctus ac. Suspendisse vehicula euismod risus, id pretium purus porttitor et. Curabitur finibus erat mattis diam suscipit finibus. Pellentesque ultrices ornare purus. Morbi a mi faucibus, euismod turpis in, semper nisi. Maecenas ut dapibus purus. Aenean a arcu odio.
    </p>
    <hr>      
  </div>
  <div class="pure-u-1 pure-u-md-1-4">
    <div id="target">Helloo {{ name }}!</div>
    <a href="/picture_upload">Upload a Pic</a> 
  </div>
</div>

<!-- <div class="grid">
  <div class="col">sa;ldkfj;laskjdf;lakjsd</div>
  <div class="col">
    


  </div>
  <div class="col">
     
  </div>
</div> -->





